.box{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 300px;
	z-index: 10000;
	padding: 10px 10px 0 0;
}


.itemEnter{
	opacity: 0;
}

.itemEnterActive{
	transition: opacity 0.5s;
	opacity: 1;
}

.itemLeaveActive{
	transition: opacity 0.5s;
	opacity: 0;
}