.wrapper{
	margin-top: 30px;
}
.col{
	margin-top: 30px;
	width: 100%;
}
.center{
	text-align: center;
}
.dataPiker{
	border: 1px solid #ced4da;
	border-radius: 3px;
	padding: .25rem .5rem;
	font-size: .875rem;
	color: #495057;
}
.datePickerWraper{
	display: inline-block;
	margin-top: 15px;
	vertical-align: bottom;
}
.span{
	font-size: 12px;
	margin: 0 5px;
}